body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Lato, arial, sans-serif;
}

section {
  height: 75%;
  background-color: #323232;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.chatContainer {
  width: 45%;
  height: 90%;
  display: flex;
  flex-direction: column;
  margin-right: 2.5%;
}

.chatInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.chatInfo>img {
  margin-left: 1%;
  max-width: 4vw;
  max-height: 4vh;
}

.messageWindow {
  height: 90%;
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 230, 230);
  overflow-y: scroll;
}

.message {
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  max-width: 25vw;
  font-size: 18pt;
  text-align: center;
  word-wrap: break-word
}

.userMessage {
  align-self: flex-start;
  background-color: white;
}

.botMessage {
  align-self: flex-end;
  background-color: #fe1251;
}

textarea {
  padding: 5px;
  resize: none;
  height: 20%;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
